/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Basic */
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* Box Model */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Basic */
@-ms-viewport {
    width: device-width;
}

body {
    -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
    html, body {
        min-width: 320px;
    }
}

body {
    background-color: rgb(3, 27, 17);
    padding: auto;
}

.main {
    margin: 0.9%;
    padding: 0.9%;
    background-image: url('images/ba1.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: 3px 4px 4px 3px 4px 4px whitesmoke;
}

.mainNav, ul {
    display: flex;
    justify-content: center;
    background-color: transparent;
    min-width: 100%;
    height: auto;
    margin: auto;
}

.mainNav li, .mainNav a {
    position: relative;
    display: block;
    float: left;
    margin: 0% 5% 5%;
    padding-right: 3px;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition: 0.5s ease-in-out;
}

.mainNav a:hover {
    color: green;
}

.listContent a {
    clear: both;
    top: 10px;
    font-size: medium;
    display: none;
    color: rgba(7, 241, 27, 0.966);
    box-shadow: 4px 4px 4px 4px 4px 4px white;
}

.mainNav li:hover .listContent a {
    display: block;
    position: relative;
}

.welcome {
    color: rgb(233, 233, 11);
    font-family: 'fire', 'Courier New', Courier, monospace;
    text-align: center;
}

.welcome ~ h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}

#logo {
    width: 6%;
    height: auto;
    border-radius: 100%;
    box-shadow: 6px 5px 10px yellow;
    transition: all 0.5s ease;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.books, .articles, .blogs, .videos, .audios {
    background-image: url(images/ba1.jpg);
    background-position: center;
    background-size: cover;
    display: block;
    height: fit-content;
    width: 48%;
    padding: 1.9%;
    float: left;
    margin-right: 0.1%;
    border-radius: 30px;
}

.btn {
    margin-right: 30%;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 1px 2px rgb(3, 54, 26);
    font-family: Georgia, Courier, 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 2%;
}

.btn:hover {
    background-image: url(glogo.png);
}

/* Footer */
#footer {
    padding: 4em 0 2em 0;
    background-color: #034236;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer .inner {
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 980px) {
    #footer .inner {
        width: 75%;
    }
}

@media screen and (max-width: 480px) {
    #footer .inner {
        width: 90%;
    }
}

#footer .copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9em;
    margin: 0 0 2em 0;
    padding: 0;
    text-align: center;
}

.icons {
    border-bottom: none;
}

.icons:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

li, a {
    text-decoration: none;
    color: rgb(109, 109, 112);
}




        /* Style for the button */
        .redirect-button {
            position: fixed;
            bottom: 10px;
            left: 10px;
            padding: 10px;
            background-image: url("images/banner.jpg");
            color: whitesmoke;
            border-radius: 50%;
            cursor: shadow;
        }

        /* Additional styles for the container */
        .ai {
            position: fixed;
            bottom: 10px;
            left: 10px;
        }



        .modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }

        .modal-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }


          /* Styling for the modal1 */
          .modal1 {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 5%;
        }